
  <section id="wrapper" class="filter-wrapper"> 
    <div class="vector-wrapper"> 
        <h1>Ochtendmens</h1>
         <div class="image-container">
         <img src="assets/sun-vector.png" alt="">
          </div> 
          </div> 
          <div class="vector-wrapper">
             <h1>Flexible</h1> 
             <div class="image-container">
                 <img src="assets/inbetween-vector.png" alt=""> 
             </div> 
             </div> 
             
             <div class="vector-wrapper">
               <h1>Avondmens</h1> 
               <div class="image-container"> 
                
                <img src="assets/moon-vector.png" alt=""> 
                </div> 
                </div> 
                </section> 