* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

body {
  background: #000b11;
  color: white;
  font-family: arial;
}

.site-header {
  background-color: var(--color-primary);
  height: 8rem;
  a{
    display: flex;
  }
}

button {
  background: none;
  border: none;
}

.fdnd-logo {
  max-width: 12rem;
  margin-left: 5rem;
  margin-top: 2rem;
}


.mugshot-student {
  /* display: flex;
  flex-wrap: wrap;
  gap: 3rem; */

  img {
    max-width: 15rem;
    margin-bottom: 2rem;
    height: auto;
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 80, 130, 0.2);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(204, 231, 255, 0.3);
    }
  }
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  padding: 7.5rem 24px 0;
  gap: 20px;
  
  row-gap: 20px;
  flex-wrap: wrap;
  .vector-wrapper:nth-of-type(2){
    order: 3;
  }
  .vector-wrapper{
    width: 100%;
    h1{
      margin-bottom: 1.5rem;
    }
    .image-container{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 6rem;
        margin-bottom: 1.5rem;
      }
    }
    &:hover{
      
        opacity: 1 !important;
        transition: opacity 0.3s ease-in-out;
      
    }
    
  }
  &:has(.vector-wrapper:hover){
    .vector-wrapper{
      opacity: 0.1;
      transition: opacity 0.3s ease-in-out;
    }
  }


  @media (min-width: 600px){
    padding: 15rem 24px 0;
    gap: 12rem;
    row-gap: 20px;

    .vector-wrapper{
      width: initial;
      h1{
        margin-bottom: 3rem;
      }
      .image-container{
        img{
          width: 10rem;
          margin-bottom: 5rem;
        }
      }
    }
  }
  @media (min-width :937px){
    .vector-wrapper:nth-of-type(2){
      order: initial;
    }
  }
}

.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    transform: scale(1.2);
  }

  img {
    width: 10rem;
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
  &.dimmed{
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
  
    &:hover {
      opacity: 1;
      transform: none;
    }
  }
  &.active{
    transform: scale(1.2);
  }
}
