* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

body {
  background: #000b11;
  color: white;
  font-family: arial;
}

.site-header {
  background-color: var(--color-primary);
  height: 8rem;
  a{
    display: flex;
  }
}

button {
  background: none;
  border: none;
}

.fdnd-logo {
  max-width: 12rem;
  margin-left: 5rem;
  margin-top: 2rem;
}


.mugshot-student {
  /* display: flex;
  flex-wrap: wrap;
  gap: 3rem; */

  img {
    max-width: 15rem;
    margin-bottom: 2rem;
    height: auto;
    border-radius: 0.2rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 80, 130, 0.2);

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(204, 231, 255, 0.3);
    }
  }
}

.filter-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
  gap: 12rem;
}

.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    transform: scale(1.2);
  }

  img {
    width: 10rem;
    margin-bottom: 5rem;
  }

  h1 {
    margin-bottom: 3rem;
    text-align: center;
  }
  &.dimmed{
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
  
    &:hover {
      opacity: 1;
      transform: none;
    }
  }
  &.active{
    transform: scale(1.2);
  }
}
